body:has(option[value="blur"]:checked) h1 {
  backdrop-filter: blur(12px);
}
body:has(option[value="contrast"]:checked) h1 {
  backdrop-filter: contrast(40%);
}
body:has(option[value="brightness"]:checked) h1 {
  backdrop-filter: brightness(50%);
}
body:has(option[value="grayscale"]:checked) h1 {
  backdrop-filter: grayscale(1);
  color: #ddd;
  border-color: #bbb;
}
body:has(option[value="saturate"]:checked) h1 {
  backdrop-filter: saturate(3);
  color: color(display-p3 1 0.495 0.315);
}
body:has(option[value="sepia"]:checked) h1 {
  backdrop-filter: sepia(1);
  -webkit-text-stroke: 0.5px #9e8c6f;
}
body:has(option[value="hue-rotate"]:checked) h1 {
  backdrop-filter: hue-rotate(120deg);
  -webkit-text-stroke: 0.5px #88a37e;
}
body:has(option[value="invert"]:checked) h1 {
  backdrop-filter: invert(1);
  color: color(display-p3 0.102 0.486 0.68);
  border-color: #bbb;
}

/* General styling */
:root {
  color-scheme: light dark;
}
h1 {
  font-size: calc(1rem + 4vw);
  color: pink;
  place-self: center; 
  padding: .75em;
  border: 1px solid color(display-p3 1 0.97 0.9 / 0.25);
  border-radius: 4px;
}
img {
  width: 100%;
  height: 100lvh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media(prefers-color-scheme: dark) {
  img {          
    opacity: 0.6;
  }
}
main {
  position: relative;
  height: 100lvh;
  display: grid;
}
nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
	padding: 0.25rem 0.5rem;
  background-color: light-dark(rgba(238, 238, 238, 0.5), rgba(68, 68, 68, 0.5));    
  border-radius: 4px;
	font-family: -apple-system, system-ui;
	font-size: 70%;
}
body { 
  margin: 0; 
  box-sizing: border-box; 
  font-family: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

/* Prefixed versions for older browsers */
/* Using :where() to have lower specificity */
body:has(option[value="blur"]:checked) :where(h1) {
  -webkit-backdrop-filter: blur(12px);
}
body:has(option[value="hue-rotate"]:checked) :where(h1) {
  -webkit-backdrop-filter: hue-rotate(120deg);
}
body:has(option[value="contrast"]:checked) :where(h1) {
  -webkit-backdrop-filter: contrast(40%);
}
body:has(option[value="sepia"]:checked) :where(h1) {
  -webkit-backdrop-filter: sepia(1);
}
body:has(option[value="brightness"]:checked) :where(h1) {
  -webkit-backdrop-filter: brightness(50%);
}
body:has(option[value="grayscale"]:checked) :where(h1) {
  -webkit-backdrop-filter: grayscale(1);
}
body:has(option[value="invert"]:checked) :where(h1) {
  -webkit-backdrop-filter: invert(1);
}
body:has(option[value="saturate"]:checked) :where(h1) {
  -webkit-backdrop-filter: saturate(3);
}