html, body {
	height: 100%;
}

body {
	background-image: linear-gradient(45deg, grey 0% lightgray 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.viewer {
	width: 800px;
	height: 520px;
	border: 1px solid rgba(black, 0.1);
	position: relative;
	overflow: hidden;
		box-shadow: 0 0 24px rgba(black, 0.13);

	.paper {
		width: 100%;
		height: 205%;
		background: url(https://assets.codepen.io/439000/newspaper_texture2832.webp);
		background-size: 800px auto;
		// opacity: 0.2;
	}

	$glass_radius: 32px;
	
	.glass {
		position: absolute;
		top: 0;
		left: 0;
		width: 360px;
		height: 190px;
		border-radius: $glass_radius;
		background: url(https://assets.codepen.io/439000/newspaper_texture2832.webp);
		background-size: 1600px 2132px;
		pointer-events: none;
		box-shadow: inset -20px 20px 40px rgba(white, 0.4), 
			inset 20px -20px 40px rgba(black, 0.2);
		opacity: 0.95;
		
		&::before,
		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: "";
			border-radius: $glass_radius;
		}
		
		&::before {
			box-shadow: -6px 4px 4px rgba(black, 0.23);
		}
		
		&::after {
			// background-image: linear-gradient(21deg, transparent 50%, rgba(white, 0.3) 60%)
			background-image: url(https://assets.codepen.io/439000/dirty-window-texture-11.webp);
			background-size: cover;
			mix-blend-mode: soft-light;
			opacity: 0.9;
		}
	}
}
