.grid
	- var n = 1;
	while n<48
		- var src = 'https://picsum.photos/id/' + (n + 20) + '/200/300';
		.photo(style='background-image: url(' + src + ')')
		- n++;

| <a target="_blank" href="https://codepen.io/josfabre/pens/public" style="position: fixed; left: 2em; top: 2em; font-family: Sans-Serif; color: #444; font-size: 13px; text-decoration: none; text-transform: uppercase; padding: 0.5em 1em; border: 1px solid #444; border-radius: 6px; opacity: 0.9; background-color: rgba(#444, 0.2); ">All my pens</a>


<div style="position:fixed;z-index: 9998;left: 0;bottom: 0; background: linear-gradient(#00000000, #000000ff 50%); opacity: 0.5; width: 100vw; height: 300px;"></div>
<section style="position: fixed; left: 2em; bottom: 2em; font-family: 'Telefon', Sans-Serif; color:white; z-index: 9999;">
	<h3>Other pens</h3>
	<ul style="display:flex;list-style-type:none;margin: 0; padding: 0;">
		<li style="margin-right: 1em;"><a href="https://codepen.io/josfabre/pen/abReBvP" target="_blank" style="color:white;text-decoration:none;font-size:0.8rem;"><img style="border-radius: 8px;height: 100px; width: auto;box-shadow: 0 0 2px black;" src="https://assets.codepen.io/439000/Screenshot+2023-06-07+at+08.39.48.png"><br>Real Slots Reels - Slot Machine</a></li>
		<li style="margin-right: 1em;"><a href="https://codepen.io/josfabre/pen/qBzWGoE" target="_blank" style="color:white;text-decoration:none;font-size:0.8rem;"><img style="border-radius: 8px;height: 100px; width: auto;box-shadow: 0 0 2px black;" src="https://assets.codepen.io/439000/Screen+Shot+2024-07-16+at+10.47.00.png"><br>Interactive Wheel of Fortune</a></li>
		<li style="margin-right: 1em;"><a href="https://codepen.io/josfabre/pen/jOegyyJ" target="_blank" style="color:white;text-decoration:none;font-size:0.8rem;"><img style="border-radius: 8px;height: 100px; width: auto;box-shadow: 0 0 2px black;" src="https://assets.codepen.io/439000/Screenshot+2023-06-07+at+08.56.26.png"><br>Magnifying Glass Newspaper</a></li>
</section>