body{
  font-family: Roboto;
  color: #1a1a1a;
}

.content{
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

.title{
  display: inline-block;
  width: auto;
  margin: 40px 0 60px 0;
}

h1{
  font-weight: 800;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 56px;
  margin: 0 0 25px 0;
  padding: 0;
}

.gradient-line{ 
    margin: 0 0 50px 0;
    display: block;
    border: none;
    height: 1px;
    background: #0071B9;
    background: linear-gradient(to right, white, #0071B9, #26ABFF, #0071B9, white);
}

.headline::after{
   content: "";
   margin: 25px 0 50px 0;
   display: block;
   height: 1px;
   width: 100%;
   background-color: #0071B9;
   background: linear-gradient(to right, white, #0071B9, #26ABFF, #0071B9, white); 
}

.main-headline{
   margin: 0;
}

.subheadline{
  display: block;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1em;
  margin: 25px 0 0 0;
  padding: 0;
  color: #0071B9;
}
