/* developed © Maxuiux */

:root {
  --lg-bg-color: rgba(255, 255, 255, 0.15);
  --lg-highlight: rgba(255, 255, 255, 0.75);
  --lg-text: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: url("https://raw.githubusercontent.com/maxuiux/codepen/refs/heads/main/images/macbook/macOS-Tahoe-26-Light.png");
  background-size: 110%;
  background-repeat: repeat-x;
  animation: moveBackground 5s ease-in-out infinite alternate;
  position: relative;

  @media(max-width:1110px) {
    background-size: cover;
  }
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 42px;
}

.glass-card {
  position: relative;
  width: 320px;
  height: 220px;
  border-radius: 34px;
  overflow: hidden;
  box-shadow:
    0 6px 12px rgba(0, 0, 0, 0.25),
    0 0 40px rgba(255, 255, 255, 0.05);
  background: transparent;
  transition: all 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.glass-card:hover {
  scale: 1.2;
}

.glass-filter {
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  filter: url(#liquid-lens);
  /* isolation: isolate; */
}

.glass-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: var(--lg-bg-color);
}

.glass-specular {
  position: absolute;
  inset: 0;
  z-index: 2;
  border-radius: inherit;
  box-shadow:
    inset 1px 1px 0 var(--lg-highlight),
    inset 0 0 5px var(--lg-highlight);
}

.glass-content {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lg-text);
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.subscribe {
  display: block;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 9999;
  text-decoration: none;
  border-radius: 100px;
  scale: 1;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
  opacity: 0;
  box-shadow:
    0 6px 12px rgba(0, 0, 0, 0.25),
    0 0 40px rgba(255, 255, 255, 0.05);
}

.subscribe.active {
  opacity: 1;
}

.subscribe:hover {
  scale: 1.1;
}

.subscribe::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  filter: url(#liquid-lens);
}

.subscribe::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow:
    inset 1px 1px 0 var(--lg-highlight),
    inset 0 0 5px var(--lg-highlight);
  border-radius: 100px;
}

.subscribe__wrap {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 18px 10px 14px;
  position: relative;
}

.subscribe__icon svg {
  width: 38px;
  height: 38px;
}

.subscribe__text {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

/* developed © Maxuiux */