@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Rubik+Vinyl&display=swap");

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color:rgb(33, 33, 33);
  transition: background-color 0.5s;
  font-family: "Belanosima", sans-serif;
}
.spectacledcoder-toggle-container {
  width: 300px;
  height: 130px;
  margin: auto;
  display: flex;
  border-radius: 70px;
  padding: 2px;
  background-color:rgb(33, 33, 33);
  box-shadow: 10px 10px 30px rgba(16, 16, 16, 0.27), 0px -8px 30px rgba(32, 32, 32, 0.3), -5px -5px 15px rgba(217, 217, 217,.31) inset, 15px 15px 50px rgba(126, 126, 126, .31) inset;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.spectacledcoder-toggle-border {
  width: 300px;
  height: 130px;
  background-color:rgb(33, 33, 33);
  box-shadow: 5px 5px 30px rgba(23, 23, 23, .2) inset, -4px -10px 40px rgba(25, 25, 25,.1) inset;
  border-radius: 70px;
  margin: auto;
  display: flex;
  transition: background-color 0.5s, box-shadow 0.5s;
}
.spectacledcoder-toggle {
  margin: auto;
  margin-left: 15px;
  width: 100px;
  height: 100px;
  background-color: rgb(33, 33, 33);
  border: .1px solid rgba(28, 28, 28, 0);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.312), -10px -10px 10px rgba(30, 30, 30, 0.696), 40px -5px 12px rgba(255, 255, 255,.3) inset, -2px 5px 10px rgba(123, 123, 123, 0.4) inset;
  border-radius: 50%;
  transition: box-shadow 1s;
}
.spectacledcoder-toggle:hover {
  cursor: pointer;
}
@keyframes roll { 100% {transform: translateX(170px) rotate(360deg);  } }
@keyframes rollback { 0% { transform: translateX(170px) rotate(360deg); } 100% { transform: translateX(0px) rotate(0deg); } }

.disclaimer {
  position: absolute;
  bottom: 0px;
  left: 0;
  margin-left: auto;
  right: 0;
  margin-right: auto;
  width: fit-content;
  color: #4a4a4a00;

  text-align: center;
}
.disclaimer b {
  text-decoration: none;
  color: #4a4a4a00;
}
.disclaimer b:hover {
  font-weight: bolder;
}
